openapi: "3.0.0"
info:
  title: Alexa website and masked email address, phone number data set
  version: "1.0.0"
  description: API for backend to use fuzzuf on VSCode
  contact:
    name: xryuseix
    url: https://github.com/xryuseix
  license:
    name: MIT
servers:
  - url: https://script.google.com

components:
  schemas:
    MetaResponse:
      type: object
      description: AAAAAAAAA
      additionalProperties:
        type: string
        description: AAA
    WebsiteResponse:
      type: object
      description: AAAAAAAAA
      additionalProperties:
        type: string
        description: AAA

paths:
  /macros/s/{DeployID}/exec:
    get: 
      parameters:
        - in: path
          name: DeployID
          required: true
          schema:
            type: string
          description: Google Spreadsheet Deploy ID
          example: AKfycbyW3gxLCodGmE2VULKOUDOCyTi9-915jnHMXNdjEAL4
        - in: query
          name: resource
          required: true
          schema:
            type: string
            enum:
              - meta
              - websites
          description: resource type (`meta` or `websites`)
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/MetaResponse'
                  - $ref: '#/components/schemas/WebsiteResponse'
              example:
                status: success
                content: {}
